<div class="relative-pos">
  {{#if error}}
  <div class="err hide">
    <details>
      <summary>{{error.message}}:</summary>
      <pre>{{error.stack}}</pre>
    </details>
  </div>
  {{/if}}
</div>
