    <title>{{title}}</title>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
    <!--
      === NOTA BENE ===
      For the three scripts below, if your spec resides on dev.w3 you can check them
      out in the same tree and use relative links so that they'll work offline,
     -->
   <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
    <script type="text/javascript" class="remove">
      // set this in the config section
      var respecConfig = {{{formatJSON respecConfig}}};
    </script>
    <style>
.passed {
  font-weight: bold;
  background-color: lightgreen;
}
.failed {
  font-weight: bold;
  background-color: pink;
}
.pending {
  font-weight: bold;
  background-color: #cdeaed;
}
.unimplemented, .notImplemented {
  font-weight: bold;
  background-color: lightyellow;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.at-risk {
  outline: thin #c45e0a solid;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
    </style>
